<mat-card class="page mat-elevation-z12">
    
    <!-- The top of the card -->
    <div class="top">
        <h1 class="lessonTitle">Quiz: {{currentTopic.title}}</h1>
        <div routerLink="/myPath" class="cancel">X</div>
    </div>
    
    <!-- Main body of the card -->
    <div class="body" *ngIf="isLoading">
        <!-- if question is multiple choise -->
        <div class="awnserBoxMultipleChoise" *ngIf="questionType == '0'">
            <div class="questionMultipleChoise">{{question}}</div>
            <!-- The possible awnsers to click -->
            <ul class="possibilatys">
                <div *ngFor="let poss of poss" class="pretty p-image p-plain p-default">
                    <p-checkbox id="{{poss.id}}" color="dark" stroke="fill" (click)="setAwnser($event, poss.id)">
                        {{poss.text}}
                    </p-checkbox>
                </div>
            </ul>
        </div>

        <!-- if question is open question -->
        <div class="awnserBoxOpenQuestion" *ngIf="questionType == '1'">
            <div class="userSideOfCard">
                <div class="questionOpenQuestion">{{question}}</div>
                <!-- AwnserBox, input for the user -->
                <textarea type="text" name="awnserOpenQuestion" class="awnserOpenQuestion" placeholder="Type your awnser here"></textarea>
            </div>
            <!-- The correct awnser, user needs to click the awnser he / she had correct. -->
            <div class="awnserSideOfCard" *ngIf="awnsered">
                <div class="awnserTitle">Correct Awnser (click what you have correct):</div>
                <div class="awnser">
                    <button (click)="setAwnser($event, awnser.id)" id="{{awnser.id}}" class="textRow Button{{awnser.button}}" *ngFor="let awnser of awnsers">{{awnser.txt}}</button>
                </div>
            </div>
        </div>
    </div>


    <!-- The bottom of the card -->
    <div class="bottom" id="bottom">
        <div id="hideCorrText" class="corrText">CORRECT</div>
        <div id="hideWrongText" class="wrongText">AI! go to the lessons again to get the correct awnser</div>
        <!-- Progress bar -->
        <mat-progress-bar class="centerBar" [value]=Perc></mat-progress-bar>
        
        <!-- Buttons -->
        <button *ngIf="questionType == '0'" id="showButt" class="bottomButton check" (click)="showButton()"> CHECK </button>
        <button *ngIf="questionType == '1'" id="showButt" class="bottomButton check" (click)="checkOpenQuestionFirst()"> CHECK </button>
        <!-- when awnser is correct -->
        <button id="hideButtGood" mat-fab mat-button-base class="bottomButton next" (click)="endQuiz()"> > </button>
        <!-- when awnser is wrong -->
        <button id="hideButtWrong" mat-fab mat-button-base class="bottomButton goLesson" (click)="goLesson()"> > </button>

    </div>
    
</mat-card>