@import '~pretty-checkbox/src/pretty-checkbox.scss';
.page{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    padding: 0px !important;
    .top{
        width: 100%;    
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .lessonTitle{
            font-weight: 500 !important;
            position: relative;
            font-size:30px;
            padding-top: 23.433px;
            margin-left: 10px;
        }
        .cancel{
            position: absolute;
            right: 23.433px;
            top: 23.433px;
            font-size: 40px;
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        padding: 18px;
        .awnserBoxMultipleChoise{
            font-size: 20px;
            width: 100%;
            text-align: left;
            display: flex;
            flex-direction: column;   
            margin-left: 10%;
            .questionMultipleChoise{
                font-size: 25px;
                width: 50%;
                text-align: center;
                display: flex;
                margin-top: 40px;
                margin-left: 10%;
            }
            .possibilatys{
                margin-top: 20px;
                margin-left: 20%;
                // background-color: blue;
                list-style: none;
                display: flex;
                flex-direction: column;
                width: 50%;
                .pretty{
                    margin-top: 20px;
                }
            }
        }
        .awnserBoxOpenQuestion{
            // background-color: red;
            font-size: 20px;
            width: 100%;
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .userSideOfCard{
                min-width: 45%;
                max-width: 45%;
                min-height: 50px;
                .awnserOpenQuestion{
                    background-color: #f1f1f1;
                    min-height: 100px;
                    min-width: 85%;
                    padding: 30px;
                    margin-top: 20px;
                    border-radius: 20px;
                    border: 0px;
                    color: rgb(110, 110, 110);
                    resize: none;
                    font-size: large;
                }
            }
            .awnserSideOfCard{
                min-width: 45%;
                max-width: 45%;
                .awnserTitle{
                    min-height: 50px;
                }
                .awnser{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin-top: 20px;
                    line-height: 60px;
                    .textRow{
                        text-align: left;
                        display: flex;
                        padding: 0px;
                        margin: 0px;
                        border: none;
                        background-color: transparent;
                        font-size: 16px;
                    }
                    .Buttontrue{
                        margin-left: 5px;
                        margin-right: 5px;
                        background-color: #e6e4e4;
                        padding: 3px;
                        padding-left: 10px;
                        padding-right: 10px;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
    .bottom{
        // font-family: KLMNoaReg !important;
        min-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .corrText{
            position: absolute;
            bottom: 90px;
            font-weight: 900;
            font-size: 25px;
            color: rgb(51, 204, 153);
        }
        .centerBar{
            margin-left: 10%;
            width: 80%;
            border-radius: 20px;
            height: 30px;
        }
        .bottomButton{
            margin: 30px;
            color: white;
            font-size: 20px;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            height: fit-content !important;
            width: fit-content !important;
        }
        .check{
            border: 3px solid rgb(0, 153, 255);
            background-color: rgb(0, 153, 255);
            border-radius: 10px;
        }
        .next{
            font-size: 60px;
            border: 3px solid #33cc99;
            background-color: #33cc99;
            height: 70px !important;
            width: 70px !important;
        }
        #showButt, #showCorrText{
            display: block;
        }
        #hideButt, #hideCorrText{
            display: none;
        }
    }
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #bbbdbd !important;
}
