@import '~pretty-checkbox/src/pretty-checkbox.scss';
.page{
    font-family: KLMNoa;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    padding: 0px !important;
    .top{
        width: 100%;    
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .lessonTitle{
            position: relative;
            font-size:30px;
            padding-top: 23.433px;
            margin-left: 10px;
        }
        .cancel{
            position: absolute;
            right: 23.433px;
            top: 23.433px;
            font-size: 40px;
        }
    }
    .body{
        display: flex;
        flex-direction: column;
        padding: 18px;
        justify-content: center;
        .question{
            font-size: 30px;
            width: 40%;
            text-align: left;
            display: flex;
            margin-top: 40px;
            margin-left: 20%;
            margin-bottom: 40px;
            // background-color: red;
        }
        .awnserBox{
            font-size: 20px;
            width: 40%;
            text-align: left;
            display: flex;
            margin-left: 30%;
            margin-bottom: 40px;
            // background-color: blue;
            .myclass{
                list-style: none;
                display: flex;
                flex-direction: column;
                .pretty{
                    margin-top: 30px;
                    .state{
                        label::after{
                            border: 1px solid rgb(16, 195, 0);
                            background-color: rgb(200, 200, 200);
                        }
                    }
                }
            }
        }
    }
    .bottom{
        min-width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .centerBar{
            margin-left: 10%;
            width: 80%;
            border-radius: 20px;
            height: 30px;
        }
        .button{
            margin: 30px;
            border: 3px solid rgb(0, 153, 255);
            background-color: white;
            color: rgb(0, 153, 255);
            font-size: 20px;
            padding: 5px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 10px;
        }
    }
}
