<div class="image"></div>

<div class="people" *ngFor="let person of allPeople">
    <img class="p-1" src="../../../assets/myNetwork/people/person_1.svg" alt="">
    <mat-card class="p-1Des">
        <div class="traingle"></div>
        <div class="card-body">            
            <div class="card-top">
                <div mat-card-avatar class="personImage">
                    <img class="imageTop" src="../../../assets/myNetwork/people/person_1_head.png" alt="">
                </div>
                <div class="Fname">{{person.firstName}} {{person.surName}}</div>
            </div>
            <div class="main">
                <mat-divider></mat-divider>
                <p>For more information about topic {{person.badgeID}}, contact me at:</p>
                <br>
                <div class="icons">
                    <mat-divider></mat-divider>
                    <div class="icon mail" (click)="showDiv('mail')"></div>
                    <div class="icon phone" (click)="showDiv('phone')"></div>
                </div>
                <div class="iconTxt">
                    <div id="hideTxtMail" class="hideTxtMail">{{person.email}}</div>
                    <div id="hideTxtPhone" class="hideTxtPhone">{{person.PhoneNumber}}</div>
                </div>
                
            </div>
        </div>
    </mat-card>
</div>