.image{
    margin-top: 30px;
    background-color: transparent;
    min-height: 80vh;
    min-width: 100%;
    text-align: center;
    background-image: url('../../../assets/myNetwork/myNetwork.png');
    background-size: cover;
}