.component{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-left: 15%;
    margin-top: 30px;
    .title{
        display: flex;
        flex-direction: row;
        font-size: x-large;
        .percentageDone{
            font-weight: 560;
            margin-left: 5px;
        }
    }
    .topic{
        margin-top: 20px;
        background-color: #f4f6f9;
    }
}
