<div class="component" *ngFor="let components of components">
  <div class="componentTitle">
    {{components.title}} -<div class="componentPercentageDone">12%</div>
  </div>
  <div class="topic mat-elevation-z4" *ngFor="let topic of components.topic">
    <div class="frontImageTopic">
      <div class="frontImageTopicCircle">
        <div class="frontImageTopicCircleSquare">
          <div class="frontImageTopicCircleSquareCircle"></div>
        </div>
      </div>
    </div>
    <div class="topicHead">
      <div class="topicTitle">Topic {{topic.id}}: {{topic.title}}</div>
      <div class="topicSubtitle">{{topic.description}}</div>
    </div>
    <div class="percentageIndicator">  
      <mat-progress-bar class="progressBar" [value]=12 color="primary"></mat-progress-bar>
      <div class="percentageDone">12%</div>
    </div>
  </div>
</div>
