<mat-card class="page mat-elevation-z12">
    
    <!-- The top of the card -->
    <div class="top">
        <h1>Lesson {{lesson.id}}: </h1> <div class="lessonTitle">{{lesson.title}}</div>
        <div routerLink="/myPath" class="cancel">X</div>

    </div>
    
    <!-- Main body of the card -->
    <div class="body">
        <div class="endPageOrNot" *ngIf="endPage"><app-page></app-page></div>
        <div class="endPageOrNot" *ngIf="!endPage">
            <div class="left">
                <!---text comes here--->
                <div class="p1 p" *ngFor="let txt of page.text"><p>{{txt}}</p></div>
            </div>
            <div class="right">
                <!-- Image / giphy comes here -->
                <img class="giphy" src="../../../../../../{{page.asset}}.gif" alt="">
            </div>
        </div>

    </div>

    <!-- The bottom of the card -->
    <div class="bottom">

        <!-- Next Page -->
        <button class="button" mat-fab (click)="previousPage()" style="background-color: rgb(0, 153, 255);"> < </button>

        <!-- Progress bar -->
        <mat-progress-bar class="centerBar" [value]=percDoneLesson></mat-progress-bar>

        <!-- previous page -->
        <button class="button" mat-fab (click)="nextPage()" style="background-color: rgb(0, 153, 255);"> > </button>
    </div>
</mat-card>