<div class="topic mat-elevation-z4" (mouseover)=showLessons() *ngFor="let topics of topics">
  <div class="image" (mouseover)=showLessons()>
      <div class="circle" (mouseover)=showLessons()>
          <div class="squareInCircle" (mouseover)=showLessons()>
              <div class="circleInSquare" (mouseover)=showLessons()></div>
          </div>
      </div>
  </div>
  <div class="text">
      <div class="title">Topic {{topics.id}}: {{topics.title}}</div>
      <div class="subtitle">{{topics.description}}</div>
  </div>
  <mat-progress-bar class="progressBar" [value]=progress color="primary"></mat-progress-bar>
  <div class="percentageDone">12%</div>
</div>

<div class="viewLessonHidden" id="viewLessonID" (mouseout)=hideLesson()>
  <div class="lessons" id="divWidth" (mouseover)=showLessons()>
    <div class="circles">
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
      <div class="lesson mat-elevation-z8">
      </div>
    </div>
    <div class="lessonText">
        <div class="lessonTXT">
          lesson 1
        </div>
        <div class="lessonTXT">
          lesson 2
        </div>
        <div class="lessonTXT">
          lesson 3
        </div>
        <div class="lessonTXT">
          lesson 4
        </div>
        <div class="lessonTXT">
          lesson 5
        </div>
        <div class="lessonTXT">
          lesson 6
        </div>
        <div class="lessonTXT">
          lesson 7
        </div>
        <div class="lessonTXT">
          lesson 8
        </div>
        <div class="lessonTXT">
          lesson 9
        </div>
        <div class="lessonTXT">
          lesson 10
        </div>
        <div class="lessonTXT">
          lesson 11
        </div>
        <div class="lessonTXT">
          lesson 12
        </div>
        <div class="lessonTXT">
          lesson 13
        </div>
        <div class="lessonTXT">
          lesson 14
        </div>
        <div class="lessonTXT">
          lesson 15
        </div>
    </div>
  </div>

  <div class="divideBar" [style.width.px]="width" (mouseover)=showLessons()></div>
</div>



