<div class="head mat-elevation-z2">
    <div class="leftSide">
        <div class="title">
            <h1>IT Training</h1>
        </div>
        <div class="navigation">
            <app-navigation></app-navigation>
        </div>


    </div>


    <mat-divider vertical></mat-divider>


    <div class="rightSide">
        <div class="badges">
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/1.svg)'}" matTooltip="ScrumBadge"  matTooltipHideDelay="1000"></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/2.svg)'}" matTooltip="SAFe Badge"  matTooltipHideDelay="1000"></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/3.svg)'}" matTooltip="Digital ARPs badge"  matTooltipHideDelay="1000"></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/4.svg)'}" matTooltip="Front-End & Back-End Badge"  matTooltipHideDelay="1000"></div>
            <div class="failed imageTEST"   [ngStyle]="{'background-image': 'url(../../assets/badges/5.svg)'}" matTooltip="Digital Products Badge"  matTooltipHideDelay="1000"></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/6.svg)'}" matTooltip="IT Departement badge"  matTooltipHideDelay="1000"></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/7.svg)'}" matTooltip="E-Commerce badge"  matTooltipHideDelay="1000"></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/8.svg)'}" matTooltip="Software Development Process Badge"  matTooltipHideDelay="1000"></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/9.svg)'}" matTooltip="DevOps Badge"  matTooltipHideDelay="1000"></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/10.svg)'}" matTooltip="Self Service badge"  matTooltipHideDelay="1000"></div>
        </div>
        <div class="badges">
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/11.svg)'}" matTooltipHideDelay="1000" matTooltip="Delivery Pipeline Badge"></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/12.svg)'}" matTooltipHideDelay="1000" matTooltip="Application Architecture Badge"></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/13.svg)'}" matTooltipHideDelay="1000" matTooltip="IT Securatiy Badge"></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/14.svg)'}" matTooltipHideDelay="1000" matTooltip="Application Securaty Scanning Badge"></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/15.svg)'}" matTooltipHideDelay="1000" matTooltip="Datacenter & Cloud Badge"></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/16.svg)'}" matTooltipHideDelay="1000" matTooltip="Legal Regulations Badge"></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/17.svg)'}" matTooltipHideDelay="1000" matTooltip="IT Service Management Badge"></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/18.svg)'}" matTooltipHideDelay="1000" matTooltip="Change Management badge"></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/19.svg)'}" matTooltipHideDelay="1000" matTooltip="Incident Management Badge"></div>
        </div>
    </div>
</div>
