.head{
    display: flex;
    flex-direction: row;
    height: 200px;
    background-color: #0099ff;
    padding-bottom: 10px;
    min-height: 93px;

    .leftSide{
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        width: 40%;
        .title{
            text-align: left;
            letter-spacing: 3px;
            margin-bottom: 0px;
            height: 70%;
            h1{
                margin: 0px;
                font-weight: 100;
                font-size: 95px;
                color: white;
            }
        }
        .navigation{
            margin-top: 0%;
        }
    }

    mat-divider{
        background-color: #f4f6f9;
        width: 1px;
        height: 190px;
        margin-top: 10px;
        border-radius: 1px;
    }


    .rightSide{
        width: 63%;
        height: 100%;
        // background-image: url('../../assets/badges/Badges.svg');
        background-repeat: no-repeat;
        margin-right: 1%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        .badges{
            display: flex;
            flex-direction: row;
            float: left;
            height: 100%;
            .imageTEST{
                background-size: contain;
                background-repeat: no-repeat;
                min-width: 55px !important;
                margin-left: 40px;

                .text{
                    display: none;
                    width: 100%;
                    margin-top: 8px;
                    min-height: 30px;
                    background-color: grey;
                    opacity: 0.7;
                    text-align: left;
                    overflow: hidden;
                    cursor: default;
                }
            }

            .imageTEST:hover .text{
                display: flex;
                cursor: default;
            }
            .failed{
                filter: grayscale(100%);
            }
        }
    }
}
