<div class="head mat-elevation-z2">
    <div class="leftSide">
        <div class="title">
            <h1>IT Training</h1>
        </div>
        <div class="navigation">
            <app-navigation></app-navigation>
        </div>


    </div>


    <mat-divider vertical></mat-divider>


    <div class="rightSide">
        <div class="badges">
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/1.svg)'}"><div class="text">Scrum Badge</div></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/2.svg)'}"><div class="text">SAFe Badge</div></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/3.svg)'}"><div class="text">Digital ARPs badge</div></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/4.svg)'}"><div class="text">Front-End & Back-End Badge</div></div>
            <div class="failed imageTEST"   [ngStyle]="{'background-image': 'url(../../assets/badges/5.svg)'}"><div class="text">Digital Products Badge</div></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/6.svg)'}"><div class="text">IT Departement badge</div></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/7.svg)'}"><div class="text">E-Commerce badge</div></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/8.svg)'}"><div class="text">Software Development Process Badge</div></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/9.svg)'}"><div class="text">DevOps Badge</div></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/10.svg)'}"><div class="text">Self Service badge</div></div>
        </div>
        <div class="badges">
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/11.svg)'}"><div class="text">Delivery Pipeline Badge</div></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/12.svg)'}"><div class="text">Application Architecture Badge</div></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/13.svg)'}"><div class="text">IT Securatiy Badge</div></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/14.svg)'}"><div class="text">Application Securaty Scanning Badge</div></div>
            <div class="imageTEST"          [ngStyle]="{'background-image': 'url(../../assets/badges/15.svg)'}"><div class="text">Datacenter & Cloud Badge</div></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/16.svg)'}"><div class="text">Legal Regulations Badge</div></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/17.svg)'}"><div class="text">IT Service Management Badge</div></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/18.svg)'}"><div class="text">Change Management badge</div></div>
            <div class="imageTEST failed"   [ngStyle]="{'background-image': 'url(../../assets/badges/19.svg)'}"><div class="text">Incident Management Badge</div></div>
        </div>
    </div>
</div>
